In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np
import json
import os
from collections import Counter
import nltk
from nltk.tokenize import word_tokenize, sent_tokenize
import re
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_style("darkgrid")

# Miscellaneous
This notebook contains some miscellaneous cells, perhaps will rename when its purpose is more clear

## Movie Lens Formatting (Should copy the column names if using shelf implementations)

In [ ]:
# Paths
MOVIELENS_FOLDER = "./data/ml-1m/"
MOVIELENS_RATINGS_FILE = "ratings.dat"

In [ ]:
# UserID::MovieID::Rating::Timestamp
df_ml = pd.read_table(
    os.path.join(MOVIELENS_FOLDER, MOVIELENS_RATINGS_FILE),
    sep="::",
    names=["user_id", "item_id", "rating", "timestamp"],
    engine="python",
)

In [ ]:
df_ml.head()

   user_id  item_id  rating  timestamp
0        1     1193       5  978300760
1        1      661       3  978302109
2        1      914       3  978301968
3        1     3408       4  978300275
4        1     2355       5  978824291